
/* Color palette */

:root {
    --wine-red: #810425;
    --white: #dddddd;
    --faded-red: #c83335;
}

body{
  font-family: sans-serif;
}

/* Text styles */

@font-face{
    font-family: 'DecorCyrillic';
    src: url('../fonts/DecorCyrillic.ttf');
}
@font-face{
    font-family: 'Romul';
    src: url('../fonts/Romul.ttf');
}

@font-face{
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face{
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/OpenSans-Semibold.ttf');
}
@font-face{
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf');
}

h1{
    color: white;
    margin-left: 210px;
    text-align: center;
}

h2{
    font-family: OpenSans-Bold;
    font-size: 36pt;
    margin-bottom: 70px;
}

h2.black{
    color: #262626;
    margin-top: 0px;
    display: inline-block;
    width: 100%;
}

h2.middle-text{
    display: inline-block;
    margin: 0px;
    width: 100%;
}

h2.middle-text.green-text{
    color: rgb(102, 195, 207);
}

.menu{
    list-style: none;
    width: 100%;     
}
.nav{
    height: 111px;
}
.nav-justified{
    margin-top: 37px; 
}

.nav-justified>li.left>a{
    text-align: right;
}

ul.menu>li#center{
    width: 30%;
    text-align: center;
    display: inline;
}

ul.menu>li.right {
    width: 20%;
    text-align: left;
    display: inline;
}

.lang{
    transform: translateX(-50%);
    left: 50%;
}

a, span.text, h2, h4, .text2{
    color: rgb(102, 195, 207);
    text-decoration: none;
}
a:hover, span.text:hover, h3.ico>a:hover, span.active{
    color: rgb(136, 114, 241);
    text-decoration: none;
    transition: 0.5s;
}
.btn{
    border: 0px solid transparent;

}

h3{
    font-family: OpenSans-Bold;
    color: white;
}

h3.ico a{
    color: #1f1f1f;
    text-decoration: none;
}

h6{
    font-family: OpenSans-Bold;
    color: #1f1f1f;
}

p.untertext{
    font-family: OpenSans-Semibold;
    font-size:;
    color: #fff;

}

p{
    font-family: OpenSans-Light;
    font-size:;
    color: #000;
}

.col-md-12.col-sm-12.col-xl-12.col-sm-12.text-center.center-block{
    align-items: center;
    margin-top:50px;
}

img.point{
    margin: 0 auto;
    margin-bottom: 10px;
}

.nav-justified>li>a:focus, .nav-justified>li>a:hover{
    background-color: transparent;
}
/*banner1*/
.banner1{
    width: 100%;
    overflow: hidden;
}

.video{
    width: 100%;
    background-image: url(../code.gif);
    background-size: cover;
}

.grad{
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(left top, rgba(6,239,248,0.7),rgba(143,119,240,0.9), rgba(143,119,240,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left top, rgba(6,239,248,0), rgba(241,33,234,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left top, rgba(6,239,248,0), rgba(241,33,234,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left top, rgba(6,239,248,0), rgba(241,33,234,1)); /* Standard syntax (must be last) */
}

/*about*/
.personal_statement{
    background-color: #48dfed;
    text-align: center;
    padding: 50.5px 15px;
}
.personal_statement>p.big{
    color: #262626;
    font-size: 14pt;
    font-family: OpenSans-Light;

}
.me{
    
}

.services{
    text-align: center;
    padding: 80px 0px;
}

button.black{
    border: 1px solid #1f1f1f;
    border-radius: 50px;
    background-color: transparent;
    color: #1f1f1f;
    margin-top: 70px;
    width: 150px;
    line-height: 3em;
    transition: 0.5s;
}

button.black.no-margin{
    margin: 30px auto;
}
button.black:hover{
    border: 1px solid #1f1f1f;
    border-radius: 50px;
    background-color: #1f1f1f;
    color: rgb(102, 195, 207);
    transition: 0.5s;
}

button.greenbtn{
    border: 1px solid rgb(102, 195, 207);
    border-radius: 50px;
    background-color: transparent;
    color: rgb(102, 195, 207);
    transition: 0.5s;
    margin-top: 70px;
    width: 155px;
    line-height: 3em;
}

button.greenbtn:hover{
    border: 1px solid rgb(102, 195, 207);
    border-radius: 50px;
    background-color: rgb(102, 195, 207);
    color: #fff;
    transition: 0.5s;
}


/*skils*/
.img-ico{
    width: 200px;
}

.row{
    margin-right: 0px;
}

/*futter*/
.futter{
    background-color: #131313;
    padding: 30px;
}



.text.inline{
    height: 25px;
    vertical-align: middle;
}
span.phone, span.email, .one, .two, .tree, .four, .plus{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.one, .two, .tree, .four{
    margin: 10px;
    width: 25px;
    height: 25px;
}

span.phone{
    background-image: url(../img/futter/1.png);
}
span.email{
    background-image: url(../img/futter/2.png);
}

span.one{
    background-image: url(../img/futter/f.png);
}
span.one:hover{
    background-image: url(../img/futter/f2.png);
}
span.two{
    background-image: url(../img/futter/b.png);
}
span.two:hover{
    background-image: url(../img/futter/b2.png);
}
span.tree{
    background-image: url(../img/futter/i.png);
}
span.tree:hover{
    background-image: url(../img/futter/i2.png);
}
span.four{
    background-image: url(../img/futter/l.png);
}
span.four:hover{
    background-image: url(../img/futter/l2.png);
}

/*menu new*/
.svg-responsive{
    width: 80%;
}

.nav-color{
    position: fixed;
    width: 100%;
    z-index: 9990;
}
.nav-wrap{
    /*max-width: 1280px;*/
    margin: 0 auto;
    position: relative;
}
ul.nav li:nth-child(n)  {
    width: 20%;
    margin-top: 40px;
    text-align: center;
}
.navbar li>a>.dot:before{
    content: '\2022';
    max-height: 10px;
    font-size: 22px;
    color: #000000;
}
.navbar .navbar-nav>.active>a>.dot:before{
    color: #ED5A24;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ED5A24;
    background-color: transparent;
}

ul.nav li:nth-child(3)  {
    width: 20%;
    text-align: center;
    margin-top: -7px;
}
.navbar .dot{
    border: none;
    top: 15px;
    right: -30px;
    position: relative;
    display: none;
}
.navbar .dot:hover{
    border: none;
    top: 15px;
    right: -30px;
    position: relative;
    display: inline-block;

}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
    color: #ED5A24;
}

.navbar {
    width: 100%;
    height: 140px;
    position:relative;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.navbar .nav {
    float: none;
    display: block;
    margin: 0 auto;
}

.nav>li>a>img {
    max-width: 100px;
}

.navbar-default .navbar-nav>.active>a>span.text {
    /*border-bottom: 2px solid #ED5A24;*/
    padding-bottom: 5px;
}

.navbar-default {
    background-color: #FFF;

}
div.navbar-header{
background: #131313;
}
.navbar-default .navbar-toggle{
    border-color: rgb(102, 195, 207);
}

.navbar-default .navbar-toggle .icon-bar, .small-menu{
    background-color: rgb(102, 195, 207);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border:none;
}


@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

#lang-selector {
   /* position: absolute;
    top: 10px;
    right: 25px;*/
    z-index: 9999;
    font-weight: bold;
    font-size: 10px;
}
#lang-selector a{
    color: #4F5759;
}
#lang-selector a.active{
    color: #ED5A24;
}

@media (max-device-width: 480px) and (orientation: landscape) {
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        max-height: 100vh;
    }


}

@media (max-width: 767px) {
    #lang-selector {
        position: absolute;
        top: 10px;
        left: 25px;
        z-index: 9999;
        font-weight: bold;
        font-size: 1.5em;
        display: table;
    }

.description{
    height: 100%;
    }
.portfolio{
    padding-top: 50px !important;
}

.contact{
    padding-top: 50px;
}

a, span{
    color: #fff;
}


.futter-text{
    color: rgb(102, 195, 207);
    text-align: center !important; 
}

    .navbar{
        height: 50px !important;
    }
    .navbar-collapse{
        background-color: #131313;
        padding-bottom: 150px;
    }
    ul.nav li:nth-child(n) {
        margin-top: 13px !important;
        text-align: center;
        width: 100%;
        font-size: 1.5em;
    }
    .navbar-default .navbar-nav>li>a {
        color: #fff;
    }

    .nav-color{
        height: 50px !important;
    }
    .container-menu-offset{
        padding-top: 100px  !important;
    }

}

.elementCursorNotAllowed {
    cursor: not-allowed;
}

/*Portfolio*/
.portfolio{
    padding-top: 140px;
}

.project_prev{
    padding-top: 300px;
}
.project1{
    background-image: url(../img/Projects/1Nicetop.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.project2{
    background-image: url(../img/Projects/2Marcopolo.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.project3{
    background-image: url(../img/Projects/3phone.gif);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.project4{
    background-image: url(../img/Projects/4dindin.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.project5{
    background-image: url(../img/Projects/5Andeor.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.project6{
    background-image: url(../img/Projects/6.gif);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.project7{
    background-image: url(../img/Projects/7Baltia.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.project8{
    background-image: url(../img/Projects/8pionica.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.project9{
    background-image: url(../img/Projects/9Nitka.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.project10{
    background-image: url(../img/Projects/10AD.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.project11{
    background-image: url(../img/Projects/11Anna.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.project12{
    background-image: url(../img/Projects/12Melia.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.project13{
    background-image: url(../img/Projects/13Invitation.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.project14{
    background-image: url(../img/Projects/14Penenza.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.project_prev_side2{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(72, 223, 237, 0.7); 
    display: none;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    align-items: center;

}

.project_prev:hover .project_prev_side2{
    display: flex;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

/* Standard syntax */
@keyframes example {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

.plus{
background-image: url(../img/ico/plus.png);
background-size: 15%;
background-position: 50% 50%;
width: 100%;
height: 40%;
}

.plus:hover{
    background-image: url(../img/ico/plus2.png);
}

.title{
    position: absolute;
    bottom: 0px;
    width: 100%
}

.lastblock{
   background-color: #48dfed;
   height: 300px;
   text-align: center;
   vertical-align: middle;
   align-items: center;
   display: flex; 
}

/*project*/

.middle{
    display: inline-block;
    width: 100%;
    margin: 0px auto;
}

.green{
    height: 140px;
    background-color: rgb(102, 195, 207);
    vertical-align: middle;
    align-items: center;
    display: flex; 
}

.header{
height: 140px;
}
.back, .next{
display: block;
background-size: 100%;
background-position: 50% 50%;
width: 70px;
height: 70px;
background-repeat: no-repeat;
}


.back{
    background-image: url(../img/ico/back2.png);
}

.back:hover{
    background-image: url(../img/ico/back.png);
}
.toclose{
display: block;
background-image: url(../img/ico/toclose2.png);
background-size: 70px;
background-position: 50% 50%;
width: 100%;
height: 70px;
background-repeat: no-repeat;
}

.toclose:hover{
  background-image: url(../img/ico/close.png);  
}
.next{
    background-image: url(../img/ico/next2.png);
    float: right;
}

.next:hover{
    background-image: url(../img/ico/next.png);
}

.flex_display{
    display: flex;
    align-items: center;
}

.forcarousel{
margin: 0px;
padding: 0px;
}

.forcarousel-gif{
    padding-top: 500px;
    height: 500px;
    background-image: url(../img/Projects/3phone.gif);
    background-size:cover;
   background-position: center center;
}

/*.forcarousel-gif2{
    padding-top: 500px;
    height: 500px;
    width: 500px;
    background-image: url(../img/Projects/6.gif);
    background-size:100%;
    background-position: center center;
    background-repeat: no-repeat;
}*/

.carousel-inner .item{ 
   height:500px; 
   background-size:cover;
   background-position: center center;
}

.description{
    display: flex;
    height: 500px;
    align-items:center;
    }

/*contact*/

.contact{
    padding-top: 140px;
}

.white{
    background-color: #48dfed;
}

.empty{
    padding-top: 100px;
}

.form-control{
    background-color: transparent;
    border-radius: 30px;
    border:1px solid #1f1f1f;
    color: #1f1f1f;
    text-align: center;
    font-family: OpenSans-Light;


}

.form-horizontal .form-group{
    margin: 0px;
}
/*animation*/
.banner{
  width:100%;
  height:800px;
  padding-top:170px;
}

@keyframes move1{
  30%{
    left: 500px;
    top:0px;
  }
  50%{
    left:300px;
    top: 135px;
  }
  to{
    left: 400px;
    top: 135px;
  }
  to {
    left: 500px;
    top:135px;
  }
}

@keyframes move2{
30%{
    left: 500px;
  }
50% {
    left: 1060px;
  opacity:1;
  }
to {
   left: 1060px;
  opacity:0;
  }
}
@keyframes move3 {
20%{
left: 620px;
top: -128px;
color: white;
  transform:      scale(1);
 -moz-transform:    scale(1); 
 -webkit-transform: scale(1); 
 -o-transform:      scale(1); 
 -ms-transform:     scale(1);
  -moz-transform-origin:0 100%;
    -o-transform-origin:0 100%;
    -ms-transform-origin:0 100%;
    transform-origin:0 100%;
  }
40%, to {
  left:950px;
  top:-160px;
  color: rgb(102, 195, 207);
  transform:         scale(0);
 -moz-transform:    scale(0); 
 -webkit-transform: scale(0); 
 -o-transform:      scale(0); 
 -ms-transform:     scale(0);
  -moz-transform-origin:0 100%;
    -o-transform-origin:0 100%;
    -ms-transform-origin:0 100%;
    transform-origin:0 100%;
  }
}

@keyframes point{
from{
    left:-3px;
  opacity:0;
  }

30%{
    opacity:0;
  }
50% {
    left: 1053px;
  opacity:1;
  }

to {
    left: 1053px;
    opacity:0;
  }
}


.move1, .move2, .move3, .point{
  position: relative;
  font-size: 90px;
  color: white;
  font-family: OpenSans-Bold;
  animation-fill-mode: forwards;

}
.move1{
  animation: move1 5s ease-out 1;
  animation-fill-mode: forwards;
  width: 760px;
  }
  
.move2{
  animation: move2 5s ease-out 1;
  animation-fill-mode: forwards;
  width: 100px;
  } 
.move3{
left: 620px;
top: -128px;
  animation: move3 5s ease-out 1;
  animation-fill-mode: forwards;
  width: 600px;
  }
.point{
  width:10px;
  height:10px;
  background-color: rgb(102, 195, 207);
  animation: point 5s ease-out 1;
  top:100px;
  left:-18px;
  border-radius:50%;
  animation-fill-mode: forwards;
}

span.MOBILENAME{
    display: none;
    }

@media (max-width: 768px){
    span.MOBILENAME{
        display: inline-block;
        color: rgb(102, 195, 207);
        font-size: 13pt;
        line-height: 50px;
    } 

    .banner{
        max-height: 300px;
        padding-top: 70px; 
    }

    .move1, .move2, .move3, .point{
        display: none;
    }

    h1{
        text-align: center;
        font-size: 30px;
        padding-top: 50px;
        width: 100%;
        margin-left: 0px;
    }

}
@media (min-width: 1920px){
.svg-responsive {
    width: 30%;
}
/* END */
